html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffce4;
    /* or another light color */
    ;
    color: #333333;
}

header {
    background-color: #B19470;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h2{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}

h3{
    font-family: "Merriweather", sans-serif;
    margin-bottom: 2.5%;
    font-size: 18px;
}

p{
    font-size: 20px;
}

#contact{
    display: flex;
}


.company-name {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-stretch: expanded;
}
.left-head {
    display: flex;
    align-items: center; /* Vertically center the items */
    padding-left: 3.5%;
}

.company-name {
    margin-right: 10px; /* Add some space between the text and the image */
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
}

/* Optional: Style the image */
.left-head img {
    width: 45px; /* Ensure the image has the desired width */
    height: auto; /* Maintain the aspect ratio */
    margin-top: -10px;
}

.video-contain-contain{
    margin: 5%;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 ratio (1080/1920 * 100) */
    height: 0;
    overflow: hidden;
    margin: 5% 0 0 0;
}



.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    padding: 100px 60px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hero-content p {
    line-height: 1.5;
    font-family: 'poppins', sans-serif;
}

.hero-text {
    max-width: 50%;
    padding: 0 4% 0 7%;
}

.hero-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 20px;
}

#hero h2 {
    font-family: "Poppins", sans-serif;
    margin: 0 0 20px;
}

#hero p {
    margin: 0 0 20px;
}

#problem {
    background-image: url("images/background.png");
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #ff9f66;
}

.problem-content {
    padding: 50px 20px 40px;
}

.problem-text{
    padding: 0px 5%;
}

button {
    background-color: #e63946;
    color: white;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    border-radius: 25px;
}

button:hover {
    background-color: #d62839;
}

section {
    padding: 50px 20px;
    text-align: center;
}

#features{
    display: flex;
}

.left_hand{
    width: 50%;
}
.right_hand{
    width: 50%;
}

.contact_text{
    padding: 0% 10%;
}

#features h2 {
    margin-bottom: 30px;
}

.features-container {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.feature {
    text-align: center;
    max-width: 200px;
}

.feature-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.feature-image-container {
    width: 170px;
    height: 240px;
    margin: 0 10px 10px;
    border-radius: 15%;
    justify-content: center;
    align-items: center;
    border: 1px solid #01204E;
    padding: 2px;
    text-align: left;
}

.feature-image-container h3{
    color: #01204E;
    font-size: 20px;
    padding: 10px 0 0 15px;
}

.features-intro p{
    padding: 0 5% 5% 5%;
}

.feature1-bg {
    position: relative;
    z-index: 1; /* Ensure content is above the background */
}

.feature1-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/feature1.jpg");
    border-radius: 15%;
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    opacity: 0.75; /* Adjust the opacity value */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}


.feature2-bg {
    position: relative;
    z-index: 1; /* Ensure content is above the background */
}

.feature2-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/feature2.png");
    border-radius: 15%;
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    opacity: 0.5; /* Adjust the opacity value */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.feature3-bg {
    position: relative;
    z-index: 1; /* Ensure content is above the background */
}

.feature3-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/feature3.png");
    border-radius: 15%;
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    opacity: 0.5; /* Adjust the opacity value */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}

#features ul {
    list-style-type: none;
    padding: 0;
}

#features ul li {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 10px 0 5px;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
}

footer {
    background-color: #1d3557;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.storyboard{
    width: 40%
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 25%;
}

.modal a {
    color: #3498db; /* Change the color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the text bold */
    padding: 5px 10px; /* Add some padding */
    border: 1px solid #3498db; /* Add a border */
    border-radius: 5px; /* Round the corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    font-size: 20px;
    margin-top: 10px;
}

.modal a:hover {
    background-color: #3498db; /* Change background on hover */
    color: #fff; /* Change text color on hover */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#main-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    font-size: 18px;
}

#main-footer p{
    font-size: 14px;
}

/* Mobile and Tablet Styles */
@media (max-width: 768px) {
    .modal-content{
        height: 30%;
    }

    .menu-icon {
        display: block;
        margin-top: 10px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #B19470;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    nav ul.show {
        display: flex;
        margin-top: 25px;
        padding-bottom: 10px; 
    }

    nav ul li {
        margin: 10px 0;
    }
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .left_hand{
        width: 100%;
    }
    .right_hand{
        width: 100%
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    #hero {
        flex-direction: column;
        padding: 50px 20px;
    }

    .hero-content {
        flex-direction: column;
        align-items: center;
    }

    .hero-text {
        max-width: 90%;
        padding: 0;
        text-align: center;
    }

    .hero-image {
        margin-top: 20px;
    }

    #features {
        flex-direction: column;
    }

    .feature {
        max-width: 90%;
        margin-bottom: 20px;
    }

    .feature-image-container {
        margin: 20px auto;
        max-width: 90%;
    }
    .features-container{
        display: block;
    }

    .contact_text {
        padding: 0;
    }

    #contact {
        flex-direction: column;
    }

    #main-footer p{
        font-size: 8px;
    }
}

@media (max-width: 520px) {
    .modal a{
        border: 0px solid #3498db;
        font-size: 24px;
    }

    h2{
        font-family: "Poppins", sans-serif;
        font-size: 22px;
    }

    h3{
        font-family: "Merriweather", sans-serif;
        margin-bottom: 2.5%;
        font-size: 18px;
    }

    p{
        font-size: 20px;
    }


    .modal-content{
        height: 40%;
    }

    #problem{
        padding: 0px 20px;
    }

    .left_hand{
        width: 100%;
    }
    .right_hand{
        width: 100%
    }

    .storyboard{
        width: 100%;
    }

    .company-name {
        font-size: 24px;
    }

    .features-intro{
        padding: 0 0 7.5% 0;
    }

    .hero-text h1 {
        font-size: 36px;
    }

    button {
        font-size: 16px;
        padding: 10px 20px;
    }

    .feature-image {
        width: 80px;
        height: 80px;
    }

    .feature-image-container h3 {
        font-size: 18px;
    }

    form input,
    form textarea {
        max-width: 90%;
    }

    #main-footer p{
        font-size: 14px;
    }
}